* {
    -web-kit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: #f6f6f6;
}

a {
    color: #ff000f;
    text-decoration: none;
    font-weight: bold;
}

li {
    margin: 10px 0;
    list-style: none;
}

h1 {
    text-align: center;
    margin: 1em auto;
}

/* ************ */
/* FLEX EXAMPLE */
/* ************ */
.container {
    display: flex;
}

.nav {
    width: 200px;
}

.content {
    flex: 1;
}

/* DEBUGGING */
.nav, .container, .content {
    border: solid 1px black;
}

/* ****************** */
/* FANCY-FLEX EXAMPLE */
/* ****************** */
.fancy-container {
    display: flex;
}

.initial {
    width: 200px;
    min-width: 100px;
}

.none {
    width: 200px;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

/* DEBUGGING */
.fancy-container
, .initial, .none
, .flex1, .flex2 {
    border: solid 1px black;
}

/* ******************* */
/* FLEX CENTER EXAMPLE */
/* ******************* */
.vertical-container {
    height: 300px;
    margin: auto 1em 1em;

    display: flex;
    align-items: center;
    
    /* justify-content: center; */
}

/* DEBUGGING */
.vertical-container, .vertical-container>div {
    border: solid 1px black;
}